.wrapper-header {
    display: 'flex';
    align-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
    width: 100%;
}
.menu-custom {
    width: 100%;
    background-color: transparent;
    border-bottom: none;
}
