.newsletter {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    max-width: 1330px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.newsletter-content > h4 {
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    font-style: normal;
    font-weight: 700;
    text-transform: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #171d22;
    margin-bottom: 0;
}
.newsletter-content > p {
    font-size: 14px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
    color: #171d22;
}
.link {
    font-weight: 600;
    color: #c3c3c3;
    text-decoration: none;
    &:hover {
        color: var(--link-active);
    }
}
.divider {
    margin-top: 40px;
}

/* From Uiverse.io by deepak16375 */
.input-form {
    position: relative;
    width: 500px;
}

.input-form input {
    width: 100%;
    border: 2px solid #faf9f7;
    background: #fff;
    box-shadow: 0px 3px 4px 0px rgba(30, 30, 30, 0.17);
    padding: 17px 25px;
    padding-right: 215px;
    border-radius: 4px;
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển tiếp cho tất cả các thuộc tính */
}

.input-form input:focus {
    border-color: transparent; /* Biến viền thành trong suốt khi focus */
    outline: none; /* Loại bỏ outline khi focus */
    box-shadow: 0 0 5px rgba(30, 30, 30, 0.3); /* Thêm bóng mờ khi focus */
}

.input-form input:not(:focus) {
    border-color: #faf9f7; /* Đảm bảo border trở lại trạng thái ban đầu khi không focus */
}

.input-form button {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 4px;
    background: #171d22;
    border-color: #171d22;
    color: #e4d804;
    font-size: 14px;
    padding: 15px 34px;
}

.button-search {
    user-select: none;
    -moz-user-select: none;
    background: #12151e none repeat scroll 0 0;
    border: 2px solid #e4d804;
    border-radius: 50px;
    color: #e3dfdf;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 16px 34px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 200px;
}

.button-search:hover {
    background-color: #e4d804;
    color: #171d22;
}

.search {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.search__input {
    display: flex;
    align-items: center;
    background-color: #12151e;
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 300px;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
    box-shadow: 0 0 1em #00000013;
    caret-color: #e0d505;
    animation: blink 1s step-start infinite;
}

.search__input:focus {
    outline: none;
    background-color: #12151e;
}

.search__input::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 400;
    color: #ccc;
}

.search__input:focus + .search__button {
    background-color: transparent;
}

.search__button {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #12151e;
}

.search__button:hover {
    cursor: pointer;
}

.search__icon {
    font-size: 10px;
    height: 1.3em;
    width: 1.3em;
    fill: var(--link-active);
}
// IconCircle
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.button-circle {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #2d2e32;
    transition: all 0.45s;
    box-shadow: inset 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(18, 21, 30);
}
.btn-svg {
    color: #bcbcbc;
    transition: filter 0.3s ease;
}

.button-circle:hover .btn-svg {
    color: var(--link-active);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-wrap {
    background: #171b22;
    padding: 25px 0;
    width: 100vw;
}
.copyright-text > p {
    margin-bottom: 0;
    font-size: 13px;
    color: #bcbcbc;
    line-height: 24px;
    margin-left: 48px;
}
.copyright-text-link {
    margin-bottom: 0;
    font-size: 13px;
    color: #e0d505;
    line-height: 24px;
    text-decoration: none;
}
.copyright-text-img {
    margin-left: 44px;
}
